.wrapper {
    max-width: 1440px;
    margin: 0 auto;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}
a {
    text-decoration: none;
}
li {
    list-style: none;
}
body {
    line-height: 1;
    font-family: $font;
    font-weight: 400;
    color: $text-color;
    background-color: white;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

.button {
    display: inline-block;
    padding: 13px 45px;
    border-radius: 100rem;
    font-family: $font;
    line-height: 1;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
    border: none;
    outline: none;
    text-align: center;
    white-space: nowrap;
    &--primary {
        font-weight: 700;
        background-color: $primary-color;
        color: white;
    }
    &--outline {
        background-color: transparent;
        color: $primary-color;
        font-weight: 500;
        border: 1px solid;
    }
    &--rounded {
        border-radius: 10px;
        padding: 17px 65px;
    }
    &--shadown {
        position: relative;
        &:after {
            content: "";
            position: absolute;
            width: 90%;
            height: 40%;
            top: 0;
            left: 0;
            transform: translate(19px,25px);
            background: rgba(245, 56, 56, 0.35);
            filter: blur(54px);
            border-radius: 10px;
            z-index: -1;
        }
    }
}

h1,h2,h3,h4,h5,h6 {
    color: $heading-color;
    font-weight: bold;
}

.heading{
    font-weight: 500;
    font-size: 35px;
    line-height: calc(50/35);
    margin-bottom: 20px;
}
.text {
    line-height: calc(30/16);
    &-medium {
        font-weight: 500;
    }
}
.boxed {
    max-width: 555px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

button  {
    cursor: pointer;
    outline: none;
    border: none;
    font-family: $font;
}

@media  screen and (max-width: 767px) {
    .button {
        padding: 13px 26px;
    }
    .heading {
        font-size: 30px;
        text-align: center;
    }
}

