.partner {
    &-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 0 60px;
    }
    &-item img{
        max-width: 100%;
    }
}
@media screen and (max-width: 1023px) {
    .partner-container{
        gap: 0 20px;
    }
}
