.subscribe {
    transform: translateY(50%);
    &-container{
        background: #ffffff;
        border-radius: 10px;
        padding: 58px 70px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-shadow: 0 30px 114px 0 rgba(#0d1025, 0.06);
    }
    &-content {
        max-width: 370px;
    }

    @media screen and (max-width: 1279px) {
    &-container {
        .heading {
            font-size: 30px;
        }
        padding: 38px 50px;
        justify-content: space-around;
    }
    }
    
    @media screen and (max-width: 1023px) {
        &-container {
            transform: translateY(-20%);
            flex-direction: column;
            margin-top: -50px;
            margin-bottom: 30px;
        }
    }
    
}

